<wicket:panel>

    <table wicket:id="hoursTable" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Aggregation Period</th>
            <th>Date</th>
            <th>Hours</th>
            <th>
                <span wicket:id="plannedLabel">Budget Planned</span>
            </th>
            <th>
                <span wicket:id="burnedLabel">Budget Burned</span>
            </th>
            <th>
                <span wicket:id="differenceLabel">Difference</span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr wicket:id="list">
            <td wicket:id="title">2014 Week #39</td>
            <td><span wicket:id="startDate">01.09.2014</span> - <span wicket:id="endDate">07.09.2014</span></td>
            <td wicket:id="hours">80.00</td>
            <td wicket:id="budgetPlanned_net">7.900</td>
            <td wicket:id="budgetBurned_net">7.900</td>
            <td wicket:id="difference">0</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>Week</th>
            <th>Date</th>
            <th>Hours</th>
            <th>Budget Planned</th>
            <th>Budget Burned</th>
            <th>Difference</th>
        </tr>
        </tfoot>
    </table>

</wicket:panel>