<wicket:panel xmlns:wicket="http://www.w3.org/1999/xhtml">

    <div class="row">
        <div class="col-xs-12">
            <div wicket:id="filter"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div wicket:id="table"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2 pull-right">
            <div class="form-group">
                <button class="btn btn-default btn-block" wicket:id="export" type="submit">Export to CSV</button>
            </div>
        </div>
    </div>

</wicket:panel>