<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

  <div class="form-box wide" id="login-box">
    <div class="header">Edit Template
      <div class="box-tools pull-right">
        <button wicket:id="backlink1" class="btn bg-olive btn-sm"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <form wicket:id="form" method="post">
      <div class="body bg-gray">
        <div wicket:id="feedback"></div>
        <div wicket:id="editTemplate"></div>
        <div class="footer">
          <div class="row">
            <div class="col-lg-3">
              <button wicket:id="backlink2" id="cancel" type="button" class="btn bg-olive btn-block">Cancel</button>
            </div>
            <div class="col-lg-3">
              <button wicket:id="deleteButton" class="btn bg-olive btn-block" data-toggle="tooltip" title
                      data-original-title="Delete the template.">
                <i class="fa fa-trash-o"></i>&nbsp;&nbsp;&nbsp;Delete Template
              </button>
            </div>

            <div class="col-lg-3">
              <button wicket:id="downloadFileButton" class="btn bg-olive btn-block" data-toggle="tooltip" title
                      data-original-title="Download the template.">
                <i class="fa fa-download"></i>&nbsp;&nbsp;&nbsp;Download Template
              </button>
            </div>

            <div class="col-lg-3">
              <button wicket:id="save" id="submitButton" type="submit" class="btn bg-olive btn-block">
                <i class="fa fa-check"></i>
                <wicket:message key="page.button.start">Start import</wicket:message>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <script src="js/enterAndEscape.js"></script>
</wicket:extend>