# gradle specific
.gradle

# Ignore Gradle GUI config
gradle-app.setting

# binary build artefacts
build
bin
target
out
*.class
*.jar
*.war

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# temp
*.*~

# Mac OS X
.DS_Store

# IntelliJ IDEA specific
*.iml
*.ipr
*.iws
.idea

# Eclipse specific
.classpath
.project
.settings/

application-local.properties
