# gradle specific
.gradle

# binary build artefacts
build
bin
target

# IntelliJ IDEA specific
.idea
.idea/*
**/*.iml
**/build
out
budgeteer.ipr
budgeteer.iws
budgeteer-web-interface/src/main/resources/application.properties
