<wicket:panel xmlns:wicket="http://www.w3.org/1999/xhtml">

    <p class="pull-right"></p><br/>

    <table class="table table-hover smallLastColumn" wicket:id="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th width="70px">Default</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr wicket:id="templateList">
            <td wicket:id="name">Template</td>
            <td wicket:id="description">Some description.</td>
            <td wicket:id="type">Budget template.</td>
            <td width="70px" wicket:id="setAsDefault">
                <label wicket:id="checkBoxLabel"></label>
            </td>
            <td>
                <button class="btn btn-default btn-sm fa fa-edit" wicket:id="editPage"></button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th width="70px">Default</th>
            <th></th>
        </tr>
        </tfoot>
    </table>

</wicket:panel>