<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mockito="http://www.mockito.org/spring/mockito"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.mockito.org/spring/mockito  http://www.mockito.org/spring/mockito.xsd">

    <mockito:mock id="userRepository" class="de.adesso.budgeteer.persistence.user.UserRepository"/>

    <mockito:mock id="projectRepository" class="de.adesso.budgeteer.persistence.project.ProjectRepository"/>

    <mockito:mock id="budgetRepository" class="de.adesso.budgeteer.persistence.budget.BudgetRepository"/>

    <mockito:mock id="workRecordRepository" class="de.adesso.budgeteer.persistence.record.WorkRecordRepository"/>

    <mockito:mock id="planRecordRepository" class="de.adesso.budgeteer.persistence.record.PlanRecordRepository"/>

    <mockito:mock id="dailyRateRepository" class="de.adesso.budgeteer.persistence.person.DailyRateRepository"/>

    <mockito:mock id="importRepository" class="de.adesso.budgeteer.persistence.imports.ImportRepository"/>

    <mockito:mock id="personRepository" class="de.adesso.budgeteer.persistence.person.PersonRepository"/>

    <mockito:mock id="contractRepository" class="de.adesso.budgeteer.persistence.contract.ContractRepository"/>

    <mockito:mock id="invoiceRepository" class="de.adesso.budgeteer.persistence.invoice.InvoiceRepository"/>

    <mockito:mock id="templateRepository" class="de.adesso.budgeteer.persistence.template.TemplateRepository"/>

</beans>
