<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mockito="http://www.mockito.org/spring/mockito"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.mockito.org/spring/mockito http://www.mockito.org/spring/mockito.xsd">

    <mockito:mock id="notificationService" class="org.wickedsource.budgeteer.service.notification.NotificationService"/>

    <mockito:mock id="statisticsService" class="org.wickedsource.budgeteer.service.statistics.StatisticsService"/>

    <mockito:mock id="peopleService" class="org.wickedsource.budgeteer.service.people.PeopleService"/>

    <mockito:mock id="budgetService" class="org.wickedsource.budgeteer.service.budget.BudgetService"/>

    <mockito:mock id="aggregationService" class="org.wickedsource.budgeteer.service.record.WorkingRecordService"/>

    <mockito:mock id="importsService" class="org.wickedsource.budgeteer.service.imports.ImportsService"/>

    <mockito:mock id="userService" class="org.wickedsource.budgeteer.service.user.UserService"/>

</beans>