<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mockito="http://www.mockito.org/spring/mockito"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.mockito.org/spring/mockito mockito.xsd">

    <mockito:mock id="notificationService" class="org.wickedsource.budgeteer.service.notification.NotificationService"/>

    <mockito:mock id="statisticsService" class="org.wickedsource.budgeteer.service.statistics.StatisticsService"/>

    <mockito:mock id="peopleService" class="org.wickedsource.budgeteer.service.person.PersonService"/>

    <mockito:mock id="budgetService" class="org.wickedsource.budgeteer.service.budget.BudgetService"/>

    <mockito:mock id="aggregationService" class="org.wickedsource.budgeteer.service.record.RecordService"/>

    <mockito:mock id="importsService" class="org.wickedsource.budgeteer.service.imports.ImportService"/>

    <mockito:mock id="exportService" class="org.wickedsource.budgeteer.service.exports.ExportService"/>

    <mockito:mock id="userService" class="org.wickedsource.budgeteer.service.user.UserService"/>

    <mockito:mock id="projectService" class="org.wickedsource.budgeteer.service.project.ProjectService"/>

    <mockito:mock id="contractService" class="org.wickedsource.budgeteer.service.contract.ContractService"/>

    <mockito:mock id="invoiceService" class="org.wickedsource.budgeteer.service.invoice.InvoiceService"/>


</beans>