<wicket:panel>
    <form wicket:id="filterForm">
        <div class="col-xs-3" wicket:id="personFilterContainer">
            <div class="form-group">
                <label>Name Filter</label>
                <select wicket:id="personSelect" class="form-control">
                    <option>Tom Hombergs</option>
                    <option>Martha Pfahl</option>
                    <option>Rainer Zufall</option>
                </select>
            </div>
        </div>

        <div class="col-xs-3" wicket:id="budgetFilterContainer">
            <div class="form-group">
                <label>Budget Filter</label>
                <select wicket:id="budgetSelect" class="form-control">
                    <option>Project Management</option>
                    <option>Implementation of Feature XYZ</option>
                </select>
            </div>
        </div>

        <div class="col-xs-4" wicket:id="daterangeFilterContainer">
            <div class="form-group">
                <label>Date Range Filter</label>

                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input wicket:id="daterangeInput" type="text" class="form-control" id="dateRangePicker">
                </div>
            </div>
        </div>

        <div class="col-xs-2">
            <button class="btn btn-default btn-block" type="submit" style="margin-top:25px">Apply Filter</button>
        </div>

    </form>

</wicket:panel>