<wicket:extend xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"
>

    <div class="form-box wide" id="login-box">
        <div class="header">Import Templates
            <div class="box-tools pull-right">
                <button wicket:id="backlink1" class="btn bg-olive btn-sm"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <form wicket:id="importForm" method="post">
            <div class="body bg-gray">
                <div wicket:id="feedback"></div>
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title"><wicket:message key="page.file.title">Select Files to Upload</wicket:message></h3>
                    </div>
                    <div class="box-body">
                        <input wicket:id="fileUpload" type="file" accept=".xlsx,.xslt,.xslm,.xltm">
                    </div>
                </div>

                <div>
                    <label for="titleInput"><wicket:message key="page.template.name">Template Name</wicket:message></label>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button wicket:id="setAsDefault" style="top: 0"></button>
                        </div>
                        <input wicket:id="name" maxlength="128" type="text" class="form-control" placeholder="">
                    </div>
                    <p class="help-block"><wicket:message key="page.template.name.hint">The name of the template.</wicket:message></p>
                </div>

                <div>
                    <label for="titleInput"><wicket:message key="page.template.description">Template Descripion</wicket:message></label>
                    <div class="input-group">
                        <span class="bg-olive input-group-addon"><i class="bg-olive glyphicon glyphicon-pencil"></i>
                        </span>
                        <input wicket:id="description" maxlength="512" type="text" class="form-control" placeholder="">
                    </div>
                    <p class="help-block"><wicket:message key="page.template.description.hint">A description of the purpose of the template.</wicket:message></p>
                </div>

                <div>
                    <label for="typeInput"><wicket:message key="page.template.type">Type</wicket:message></label>
                    <div class="input-group">
                        <span class="bg-olive input-group-addon"><i class="bg-olive glyphicon glyphicon-filter"></i>
                        </span>
                        <select id="typeSelect" wicket:id="type" name="name" class="form-control"/>
                    </div>
                    <p class="help-block"><wicket:message key="page.template.types.hint">The Type of this template.</wicket:message></p>
                </div>
            </div>
            <div class="footer">
                <div class="row">
                    <div class="col-lg-3">
                        <button wicket:id="backlink2" id="cancel" type="button" class="btn bg-olive btn-block">Cancel</button>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <select wicket:id="exampleFileList" class="btn bg-olive form-control">
                                <option>Budget template</option>
                            </select>
                            <div class="input-group-btn">
                                <button  wicket:id="exampleDownloadButton" class="btn bg-olive glyphicon glyphicon-download-alt" style="top: 0" data-toggle="tooltip" title
                                         data-original-title="Download the selected template."></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <button wicket:id="save" id="submitButton" class="btn bg-olive btn-block"><wicket:message key="page.button.start">Start import</wicket:message></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="js/enterAndEscape.js"></script>
</wicket:extend>
