/**
 * a small box showcasing a statistic or something like that
 */

.showcase {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}

.showcase h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}

/**
 * use if you need some pixels of room before an element
 */
.push-right{
    margin-left: 20px;
}

/**
 *  to be used with form-box to create a wider than normal form-box
 */
.wide{
    width:600px;
}

.wide .body > .form-group, .form-box .footer > .form-group {
    margin-top: 10px;
    margin-bottom: 5px:
}

.btn-no-padding{
    padding: 1px 6px;
}