<wicket:panel xmlns:wicket="http://www.w3.org/1999/xhtml">

    <p class="pull-right"></p><br/>

    <table class="table table-bordered table-hover" wicket:id="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Desription</th>
        </tr>
        </thead>
        <tbody>
        <tr wicket:id="templateList">
            <td wicket:id="name">Template</td>
            <td wicket:id="description">Some description.</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>Name</th>
            <th>Desription</th>
        </tr>
        </tfoot>
    </table>

</wicket:panel>