<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <div class="feedbackPanel" wicket:id="feedbackContainer">
        <div wicket:id="messages">
            <div class="alert alert-dismissable" wicket:id="messageContainer">
                <i class="fa" wicket:id="messageIcon"></i>
                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">X</button>
                <span wicket:id="messageText"></span>
            </div>
        </div>
    </div>
</wicket:panel>
</html>