<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <a wicket:id="link">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3><span wicket:id="title">Title</span></h3>
                <br/>
                <br/>
            </div>
            <div class="icon"><i class="fa fa-book"></i></div>
            <div class="small-box-footer">
                Shows the values of this table as net values.
                <i class="fa fa-arrow-circle-right"/>
            </div>
        </div>
    </a>
</wicket:panel>
</html>